<div>
  {{! searchResults comes from the data being passed in the res.render on pageOneRoutes.js! }}
  {{#each searchResults as | result |}}

    <div class="book-zone">
      <div class="card book-info" id="{{@index}}" style="width: 18rem;">
        <img src="{{result.thumbnail}}" class="card-img-top" alt="book cover for {{result.title}}" />
        <div class="card-body">
          <h3 class="card-title">{{result.title}}</h3>
          {{#each result.authors as |author|}}
          <h5>{{author}}</h5>
          {{/each}}
          <p class="card-text">{{resut.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Published: {{result.publishedDate}}</li>
          <li class="list-group-item">Page Count: {{result.pageCount}}</li>
        </ul>
        <button type="add" class="btn btn-info add-book" id="add-book-{{@index}}">Add Book To Collection</button>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/bookApi.js"></script>